.static {
  position: static
}

.fixed {
  position: fixed
}

.relative {
  position: relative
}

.mt-12 {
  margin-top: 3rem
}

.block {
  display: block
}

.table {
  display: table
}

.contents {
  display: contents
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.pt-12 {
  padding-top: 3rem
}

.pb-12 {
  padding-bottom: 3rem
}

.capitalize {
  text-transform: capitalize
}

.ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}
